<app-header/>
<div class="order-container">
    <div class="order-details">
        <h2>Địa chỉ và Thanh toán</h2>
        <div class="address-selection">
            <h3>Địa chỉ nhận hàng</h3>
            @for (addressResponse of addressResponses; track $index) {
              <div class="address-item">
                  <input id="address1" name="address" type="radio" [checked]="addressResponse.is_default"/>
                  <span>
                    {{addressResponse.address_line}}, 
                    {{addressResponse.ward}}, 
                    {{addressResponse.district}}, 
                    {{addressResponse.city}}, 
                    {{addressResponse.country}}
                  </span>
                  <div class="address-actions">
                      <a href="#">Sửa</a> | <a href="#">Xóa</a>
                  </div>
              </div>
            }
          
            <div class="add-new-address">
                <button type="button" class="btn-new-address" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" (click)="openAddressModal()">
                    <ng-icon name="bootstrapPlus"></ng-icon> Thêm địa chỉ mới
                </button>

              <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm địa chỉ</h5>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form">
                                    <!-- Tỉnh/Thành phố -->
                                    <div class="form-group">
                                      <label for="city-select">Tỉnh/Thành phố</label>
                                      <select
                                        id="city-select"
                                        class="form-control"
                                        formControlName="city">
                                        <option value="">Chọn tỉnh/thành phố</option>
                                        <option *ngFor="let city of cities" [value]="city.id">
                                          {{ city.name }}
                                        </option>
                                      </select>
                                      <div *ngIf="form.get('city')?.touched && form.get('city')?.invalid" class="text-danger">
                                        Vui lòng chọn tỉnh/thành phố.
                                      </div>
                                    </div>
                                  
                                    <!-- Quận/Huyện -->
                                    <div class="form-group">
                                      <label for="district-select">Quận/Huyện</label>
                                      <select
                                        id="district-select"
                                        class="form-control"
                                        formControlName="district">
                                        <option value="">Chọn quận/huyện</option>
                                        <option *ngFor="let district of districts" [value]="district.id">
                                          {{ district.name }}
                                        </option>
                                      </select>
                                      <div *ngIf="form.get('district')?.touched && form.get('district')?.invalid" class="text-danger">
                                        Vui lòng chọn quận/huyện.
                                      </div>
                                    </div>
                                  
                                    <!-- Phường/Xã -->
                                    <div class="form-group">
                                      <label for="ward-select">Phường/Xã</label>
                                      <select
                                        id="ward-select"
                                        class="form-control"
                                        formControlName="ward">
                                        <option value="">Chọn phường/xã</option>
                                        <option *ngFor="let ward of wards" [value]="ward.id">
                                          {{ ward.name }}
                                        </option>
                                      </select>
                                      <div *ngIf="form.get('ward')?.touched && form.get('ward')?.invalid" class="text-danger">
                                        Vui lòng chọn phường/xã.
                                      </div>
                                    </div>
                                  
                                    <!-- Địa chỉ cụ thể -->
                                    <div class="form-group">
                                      <label for="addressDetail">Địa chỉ cụ thể</label>
                                      <input
                                        type="text"
                                        id="addressDetail"
                                        class="form-control"
                                        placeholder="Nhập địa chỉ cụ thể"
                                        formControlName="addressDetail" />
                                      <div *ngIf="form.get('addressDetail')?.touched && form.get('addressDetail')?.invalid" class="text-danger">
                                        Vui lòng nhập địa chỉ cụ thể.
                                      </div>
                                    </div>
                                  </form>                                  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary" (click)="saveAddress()">Lưu địa chỉ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="note" [formGroup]="noteForm">
          <label for="note-input">Ghi chú</label>
          <textarea class="note-textarea" formControlName="note" id="note-order"></textarea>
        </form>
        
        <div class="payment-methods">
          <h3>Phương thức thanh toán</h3>
          <div class="payment-option">
            <input id="cod" name="payment" type="radio" (change)="onPaymentMethodChange('cod')" [checked]="true"/>
            <label for="cod">Thanh toán khi nhận hàng</label>
          </div>
          <div class="payment-option">
            <input id="credit_card" name="payment" type="radio" (change)="onPaymentMethodChange('credit_card')" />
            <label for="credit_card">Thẻ tín dụng</label>
          </div>
          <div class="payment-option">
            <input id="e_wallet" name="payment" type="radio" (change)="onPaymentMethodChange('e_wallet')" />
            <label for="e_wallet">Ví điện tử</label>
          </div>
        </div>
        
        <div class="shipping-methods">
          <h3>Phương thức vận chuyển</h3>
          <div class="shipping-option">
            <input id="standard" name="shipping" type="radio" (change)="onShippingMethodChange('standard')" [checked]="true"/>
            <label for="standard">Vận chuyển thường (Standard)</label>
          </div>
          <div class="shipping-option">
            <input id="express" name="shipping" type="radio" (change)="onShippingMethodChange('express')" />
            <label for="express">Vận chuyển nhanh (Express)</label>
          </div>
        </div>        
    </div>

    <div class="order-summary">
        <h2>Đơn hàng của bạn</h2>
        @for (item of cartItems; track $index) {
          <div class="order-item">
              <img [src]="item.product.thumbnail" [alt]="item.product.name" class="item-image"/>
              <div class="item-info">
                  <p class="item-name">{{item.product.name}}</p>
                  <div class="item-quantity">Số lượng: {{item.quantity}}</div>                
                  <p class="item-price">{{formatCurrency(item.product.price)}}</p>
              </div>
          </div>
        }

        @if(availableVouchers.length > 0) {
          <div class="voucher-selection">
            <h3>Chọn mã giảm giá</h3>
            <div class="voucher-dropdown">
                <label for="voucher-select">Chọn voucher:</label>
                <select id="voucher-select" multiple [(ngModel)]="selectedVouchers" (change)="updateVouchers()">
                    <option *ngFor="let voucher of availableVouchers" [value]="voucher">
                        {{ voucher.promotion_name }} - 
                        @if ( voucher.discount_type === "percentage") {
                         {{voucher.promotion_discount_value}}%
                        }@else if (voucher.discount_type === "percentage") {
                         {{formatCurrency(voucher.promotion_discount_value)}}
                        }
                    </option>
                </select>
            </div>
          </div>      
        }
      
      <!-- Danh sách voucher đã chọn -->
      @if (selectedVouchers.length > 0) {
        <div class="voucher-preview">
            <h3>Voucher đã chọn:</h3>
            <div *ngFor="let voucher of selectedVouchers" class="voucher-item">
                <div class="voucher-info">
                    <h4>{{ voucher.promotion_name }}</h4>
                    @if ( voucher.discount_type === "percentage") {
                      <p>Giảm: {{voucher.promotion_discount_value}}%</p>
                    }@else if (voucher.discount_type === "percentage") {
                      <p>Giảm: {{formatCurrency(voucher.promotion_discount_value)}}</p>
                    }
                </div>
                <button (click)="removeVoucher(voucher)" class="remove-button">
                  <ng-icon name="bootstrapXCircle" class="remove-button"></ng-icon>
                </button>
            </div>
        </div>
      }
      
        <div class="order-totals">
            <div class="total-row">
                <span>Tổng đơn hàng</span><span>{{formatCurrency(totalPriceProduct)}}</span>
            </div>
            <div class="total-row">
                <span>Voucher giảm giá</span><span>{{formatCurrency(this.totalDiscount)}}</span>
            </div>
            <div class="total-row">
                <span>Phí giao hàng</span><span>{{formatCurrency(shippingFee)}}</span>
            </div>
            <div class="total-row total-price">
              <span>Tổng cộng</span><span>{{formatCurrency(totalPrice)}}</span>
            </div>
        </div>

        <div class="order-actions">
            <button class="checkout-button" (click)="createOrder()">Đặt hàng</button>
            <a [routerLink]="['/cart']" class="back-to-cart">Quay lại giỏ hàng</a>
        </div>
    </div>
</div>
<app-footer />