<header class="header">
    <div class="header-top">
        <div class="header-links">

            <a href="#">Đăng ký bán hàng</a>
            <span>|</span>
            <a href="#">Kết nối</a>
            <span class="social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </span>
        </div>
        <div class="header-actions">
            <a href="#"><i class="fa fa-bell"></i> Thông Báo</a>
            <a href="#"><i class="fa fa-globe"></i> Tiếng Việt</a>
            <a href="#">Đăng Ký</a>
            <a href="#">Đăng Nhập</a>
        </div>
    </div>

    <div class="header-main">
        <div class="logo">
            <img src="smartshop-logo.png" alt="SmartShop Logo">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Shopee bao ship 0Đ - Đăng ký ngay!">
            <button><i class="fa fa-search"></i></button>
        </div>
        <div class="cart-icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
    </div>
</header>
