<header class="header-container">
    <div class="top-bar d-flex align-items-center justify-content-between py-2">
        <span>Đăng ký bán hàng cùng SmartShop để có những
            ưu đãi hấp dẫn</span>
        <div class="top-right d-flex align-items-center">
            <a href="#">Vị trí cửa hàng</a>
            <a href="#">Theo dõi đơn hàng</a>
            <a href="#" class="d-flex align-items-center">
                <img src="assets/images/vietnam.png" alt="Vietnam Flag"
                    class="flag-icon">
                <span>Vietnamese</span>
            </a>
            <a href="#">Việt Nam (VND ₫)</a>
        </div>
    </div>

    <div class="main-header">
        <div class="logo">
            <span class="shop-name">Smart Shop</span>
        </div>

        <div class="search-bar">
            <select class="category-select">
                <option>Tất cả danh mục</option>
            </select>
            <input type="text" placeholder="Tìm kiếm sản phẩm...">
            <button class="btn search-btn">Tìm</button>
        </div>

        <div class="user-actions">
            <div class="account">      
                @if (userDetail) {
                    <div class="dropdown-toggle account-dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="userDetail.avatar ? userDetail.avatar : 'assets/images/user_avatar.jpg'" [alt]="userDetail.fullname">
                        <span>{{userDetail.fullname}}</span> 
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Tài khoản của tôi</a></li>
                        <li><a class="dropdown-item">Đơn hàng</a></li>
                        <li><a class="dropdown-item" (click)="logOut()">Đăng xuất</a></li>
                    </ul>
                }
                @else {
                    <ng-icon class="account-icon" name="bootstrapPerson"></ng-icon>
                    <a [routerLink]="['/login']">Log in</a>
                }
            </div>

            <a [routerLink]="['/cart']" class="cart">
                <ng-icon class="cart-icon" name="bootstrapCart"></ng-icon>
                <span>3</span>
            </a>
        </div>
    </div>

    <nav class="navigation" appStickyNavigation>
        <div class="row">
            <div class="col-lg-4">
                <button (click)="loadCategories()" class="nav-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <ng-icon class="menu-icon"
                        name="bootstrapMenuApp"></ng-icon>
                    <span>Danh mục sản phẩm</span>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title heading-sidebar" id="offcanvasExampleLabel">Danh mục sản phẩm</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="menu-categories">
                        @for (category of categories; track $index) {
                            <li class="category-item">
                                <div class="category-header" (click)="toggleCategory(category)">
                                    {{ category.name }}
                                    <span *ngIf="category.sub_categories!.length > 0" class="arrow">
                                        @if (category.isExpanded) {
                                            <ng-icon name="bootstrapChevronDown"></ng-icon>
                                        }@else {
                                            <ng-icon name="bootstrapChevronCompactRight"></ng-icon>
                                        }
                                    </span>
                                  </div>
                                  <ul *ngIf="category.isExpanded" class="sub-category">
                                    <li *ngFor="let subCategory of category.sub_categories">
                                      {{ subCategory.name }}
                                    </li>
                                  </ul>
                            </li>
                        }
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col-lg-8">
                <ul>
                    <li>
                        <a href="#" class="nav-link">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Bài viết</a>
                    </li>
                    <li>
                        <a class="nav-link">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Đăng ký bán hàng</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
