.container {
    .btn {
      &.btn-link {
        padding: 0;
        text-decoration: underline;
      }
  
      &.btn-outline-success {
        font-size: 0.9rem;
      }
    }
  
    .table {
      th, td {
        vertical-align: middle;
        font-size: 14px;
        font-weight: 600;
      }
  
      .table-light {
        background-color: #f8f9fa;
      }
    }

    .order-filters {
      display: flex;
      justify-content: center;
      width: 100%;

      .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 16px;
  
        .form-filters {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          column-gap: 12px;
        }
  
        .form-label {
          font-weight: bold;
        }
  
        .btn-reset {
          height: 40px;
        }
  
        .btn-filter {
          height: 40px;
        }
      }
    }

    .action-item {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .order-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
    }
}
  