<app-header />
<div class="container mt-5">
    <div class="row">
        <div class="col-12 d-md-none mb-3 text-end">
            <button class="btn btn-outline-secondary" id="menu-toggle">
                <ng-icon name="bootstrapMenuButton"></ng-icon> Danh Mục
            </button>
        </div>

        <!-- Sidebar -->
        <div class="col-md-2 sidebar" [ngClass]="{ 'show': isSidebarVisible }">
            <div class="menu d-flex align-items-baseline">
                <ng-icon name="bootstrapMenuButton"></ng-icon>
                <h5>Danh Mục</h5>
            </div>
            @if (category) {
                <a class="category-item active mt-3" (click)="loadProductByCategoryId(category.id)">{{category.name}}</a>
                @for (categoryItem of category.sub_categories; track $index) {
                    <a class="category-item" (click)="loadProductByCategoryId(categoryItem.id)">{{categoryItem.name}}</a>
                }
            }
        </div>

        <!-- Main Content -->
        <div class="col-md-10 content">
            <div
                class="sort-options d-flex justify-content-between align-items-center mb-4">
                <div class="btn-filters">
                    <button class="btn-filter-item">Sắp xếp theo</button>
                    <button class="btn-filter-item">Phổ Biến</button>
                    <button class="btn-filter-item">Mới Nhất</button>
                    <button class="btn-filter-item">Bán Chạy</button>
                    <button class="btn-filter-item">Giá</button>
                </div>
                <div class="pagination-controls d-flex align-items-center">
                    <span class="mx-2">1/9</span>
                    <div class="btn-group">
                        <button class="btn-paginate">&lt;</button>
                        <button class="btn-paginate">&gt;</button>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (productResponse) {
                    @for (product of productResponse; track $index) {
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="product-card">
                                <img class="img-fluid"
                                    [alt]="product.name"
                                    [src]="product.thumbnail" />
                                <div class="badge bg-warning text-dark">Yêu thích</div>
                                <div class="body-card">
                                    <h6 class="mt-2">{{ product.name }}</h6>
                                    <div class="price">{{product.price | currency: 'VND'}}</div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<app-footer />