@if (selectedChat && selectedChat != null) {
    <div class="section-chat-area">
        <div class="area-header">
            <img [src]="selectedChat.chat_avatar == null ? '/assets/images/user_avatar.jpg' : selectedChat.chat_avatar" [alt]="selectedChat.name">
            <h3 class="header-user">{{ selectedChat.name }}</h3>
        </div>
    
        <div class="erea-message" #scrollableDiv (scroll)="onScroll()">
            <div *ngFor="let message of messages" 
                 class="message" 
                 [ngClass]="{'sent': message.sender_id === userId, 'received': message.sender_id !== userId}">
              <span class="message-content">{{ message.content }}</span>
              <span class="message-time">{{ message.created_at | date: 'short' }}</span>
              @if (message.state === 'SENT') {
                <p class="message-icon">
                    <ng-icon name="bootstrapCheck2"></ng-icon>
                </p>
              }@else if (message.state === 'SEEN') {
                <p class="message-icon">
                    <ng-icon name="bootstrapCheck2All"></ng-icon>
                </p>
              }
            </div>
        </div>
        
        <div class="area-input">
            <app-chat-input (messageSent)="onMessageSent($event)"></app-chat-input>
        </div>
    </div>
}@else {
    <div class="chat-empty">
        <div class="d-flex flex-column align-items-center gap-3">
            <img src="assets/images/chat-img.webp" alt="Chat image">
            <p>Chào mừng bạn đến với SmartShop Chat</p>
        </div>
    </div>
}