<section class="section-login">

    <div class="logo-header">
        <a class="logo-link">
            <!-- <img src="path/to/logo.png" alt="Smart Shop Logo" /> -->
            <span>Smart Shop</span>
        </a>
    </div>

    <div class="container">
        <div class="introduction">
            <h2>Smart Shop</h2>
            <p>Điểm đến lý tưởng của bạn để tìm kiếm những sản phẩm điện tử,
                thời trang và đồ gia dụng mới nhất. Khám phá những ưu đãi không
                thể tuyệt vời hơn, những sản phẩm chất lượng cao và trải nghiệm
                mua sắm dễ dàng.</p>
        </div>

        <div class="form-section">
            <h3>Smart Shop</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input placeholder="Số điện thoại" type="text"
                        formControlName="phone" />
                    <div class="error"
                        *ngIf="loginForm.get('phone')?.touched && loginForm.get('phone')?.invalid">
                        <small
                            *ngIf="loginForm.get('phone')?.errors?.['required']">
                            Vui lòng nhập số điện thoại.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input placeholder="Password" type="password"
                        formControlName="password" />
                    <div class="error"
                        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                        <small
                            *ngIf="loginForm.get('password')?.errors?.['required']">
                            Vui lòng nhập mật khẩu.
                        </small>
                    </div>
                </div>
                <button type="submit">Login</button>
                <div class="login-socials">
                    <button class="social-btn" type="button">
                        <ng-icon class="google"
                            name="bootstrapGoogle"></ng-icon>
                        <span>Google</span>
                    </button>
                    <button class="social-btn" type="button">
                        <ng-icon class="facebook"
                            name="bootstrapFacebook"></ng-icon>
                        <span>Facebook</span>
                    </button>
                </div>
            </form>
            <div class="additional-links">
                <div class="forgot-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="no-account-link">
                    <a href="#">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>
