<div class="section-chat-user">
    @if (contact != null && chat == null) {
      <div class="chat-contacts">
        <img [src]="contact.avatar" [alt]="contact.fullname" class="user-img">
        <div class="user-item">
          <h3 class="user-name">{{ contact.fullname }}</h3>
        </div>
      </div>
    } @else {
      <div class="d-flex align-items-center justify-content-between chat-hover">
        <div class="d-flex gap-3 align-items-center">
          <div class="img-chat">
            <img [src]="chat?.chat_avatar == null ? '/assets/images/user_avatar.jpg' : chat?.chat_avatar" [alt]="chat?.name">
          </div>
          <div class="d-flex flex-column">
            <span class="text-name fw-semibold">{{ chat?.name }}</span>
            <small class="text-secondary">
              @if (chat?.last_message === 'Attachment') {
                <ng-icon name="bootstrapImageFill"></ng-icon>
              } @else {
                {{ wrappedMessage(chat?.last_message) }}
              }
            </small>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-between align-items-end g-2">
          @if (chat) {
              <span class="msg-date mb-2" [class.unread]="chat.unread_count && chat.unread_count > 0">
                {{ chat.last_message_time | date: 'dd.MM.yy HH:mm' }}
              </span>
              @if (chat.unread_count && chat.unread_count > 0) {
                <small class="unread-msg-badge">{{ chat.unread_count }}</small>
              }
          }
        </div>
      </div>
    }
  </div>  