<div class="section-chat-list">
    <div class="chat-search">
        <form class="form-search">
            <input type="text" class="input-search" placeholder="Tìm theo tên">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Tất cả</option>
                <option value="1">Chưa đọc</option>
                <option value="2">Ghim</option>
              </select>
        </form>
    </div>

    <div class="chat-users">
        <app-chat-user/>
    </div>
</div>